@use "../../styles/" as *;

.login__box {
  width: 45rem;
  margin-top: 10vw;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 2px hsl(0, 0%, 66%), -1px -1px 2px hsl(0, 0%, 83%);
  text-align: center;

  h2 {
    font-size: 3rem;
  }

  .login__form {
    input {
      width: 100%;
      margin-block: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid $color-gray-200;
    }

    .login__btn {
      width: 100%;
      margin-top: 3rem;
      padding: 2em 3em;
      background-color: $color-primary-200;
      border-radius: 2.5em;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        background-color: $color-primary-400;
      }
    }
  }
}
