.login__box {
  justify-self: center;
  align-self: center;
  max-width: 25rem;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 2px hsl(0, 0%, 66%), -1px -1px 2px hsl(0, 0%, 83%);
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  .login__form {
    input {
      width: 100%;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid hsl(0, 0%, 83%);
    }

    .login__btn {
      &.active {
      }
    }
  }
}
