@use "../../../styles/mixin" as mixin;

.feed-header {
  @include mixin.flex;
  --gap: 1.125em;
  padding: 1.25em var(--feed-padding-inline);

  &__writer {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .util-btn {
    display: inline-block;
    margin-left: auto;
  }
}
