@use "../../../styles/mixin" as mixin;

.feed-header {
  @include mixin.flex;
  --gap: 1.125em;
  padding: 1.25em var(--feed-padding-inline);

  &__writer {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .util-btn {
    // flex가 적용되어 있기에 flex-item이 되었기에 margin이 유효!
    margin-left: auto;
  }
}
