*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  padding-top: 7rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
button,
textarea {
  border: none;
  background: transparent;
  resize: none;
  outline: none;
}

// remove form's initial input background !important
form input {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0),
    inset 0 0 0 100px rgba(255, 255, 255, 1);
}

a,
button,
svg {
  cursor: pointer;
}
