@use "../../styles/" as *;

.profile-image {
  position: relative;
  display: inline-block;
  text-align: center;

  &__wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      opacity: var(--gradientShow, 0);
    }

    &::before {
      z-index: $constant-z-index-gray;
      inset: -1.2px;
      background: $color-gray-200;
    }

    &::after {
      inset: -3px;
      z-index: 1000;
      background: darkgrey $color-skeleton right / 200%;
      @include animation-loading();
    }
  }

  img {
    position: relative;
    min-width: var(--size);
    max-width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    z-index: $constant-z-index-img;
  }

  p {
    font-weight: 500;
  }
}
