@use "../../styles/color.scss" as color;

.profile-image {
  display: inline-block;
  text-align: center;

  img {
    position: relative;
    min-width: var(--size);
    max-width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
  }

  p {
    font-weight: 500;
  }
}
