@use "../../styles/" as *;

.comment {
  position: relative;
  height: 3rem;

  &__front {
    $_movedx: var(--movedX);
    $lowerRange: -20%;
    $upperRange: 0px;
    $finalMove: clamp($lowerRange, $_movedx, $upperRange);

    position: absolute;
    inset: 0;
    @include mixin-flex();
    padding-inline: var(--feed-padding-inline);
    background-color: #fff;
    transform: translateX($finalMove);
    transition: transform 350ms linear;

    .comment__writer {
      font-size: 1.125rem;
      font-weight: bold;
    }

    .comment__content {
      font-size: 0.975rem;
    }

    svg {
      display: inline-block;
      margin-left: auto;
    }
  }

  &__delete {
    @include mixin-flex();
    justify-content: flex-end;
    gap: 0;
    height: 100%;

    .icon-wrapper {
      @include mixin-flex();
      justify-content: center;
      width: 10%;
      height: 100%;
      background-color: $color-bg-delete;

      text-align: center;
      cursor: pointer;
    }

    svg {
      color: #fff;
    }
  }
}
