@use "../../../styles" as *;

.feed-carousel {
  --gap: 0.5em;
  $feed-img-height: 60vh;

  $slide-width: calc(-100% - var(--gap));
  $currIdx: var(--currIdx);
  $slideOffset: calc($currIdx * $slide-width);

  position: relative;
  min-height: $feed-img-height;
  overflow: hidden;

  &__slider {
    @include mixin-flex;
    position: absolute;
    transform: translateX($slideOffset);
    transition: all 0.4s ease-in;

    li {
      min-width: 100%;
      max-height: $feed-img-height;

      img {
        min-height: $feed-img-height;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }

    &.hidden {
      z-index: -1;
    }

    &.left {
      left: 2%;
    }

    &.right {
      right: 2%;
    }
  }
}
